.hero {
  margin: 0px 120px;
  margin-top: 100px;
}

.hero-text {
  color: #fff;
  font-size: 100px;
  font-weight: 500;
  line-height: 100px;
}

.hero-explore {
  display: flex;
  align-items: center;
  gap: 50px;
  width: fit-content;
  margin-top: 70px;
  padding: 5px 8px;
  background-color: white;
  padding-left: 30px;
  border-radius: 60px;
  cursor: pointer;
}

.hero-explore p {
  color: #292929;
  font-size: 20px;
  font-weight: 500;
}

.hero-play {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-dot-play p {
  color: #fff;
  font-size: 19px;
}

.hero-dot-play {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.hero-dots {
  display: flex;
  align-items: center;
  gap: 23px;
  list-style: none;
}

.hero-dot {
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.hero-dot.orange {
  background: orangered;
}

@media (max-width: 600px) {
  .hero {
    margin: 20px;
    margin-top: 60px;
  }

  .hero-text {
    font-size: 28px;
    line-height: 25px;
  }

  .hero-dot-play {
    flex-direction: column;
    gap: 10px;
  }

  .hero-play {
    display: flex;
    flex-direction: column;
    margin-left: 125px;
    margin-top: -45px;
    position: static;
    font-size: 8px;
  }

  .hero-play p {
    font-size: 15px;
  }

  .hero-play img {
    width: 50px;
  }

  .hero-explore p {
    font-size: 15px;
  }

  .hero-explore {
    gap: 5px;
    padding: 2px 0px;
    padding-left: 15px;
    border-radius: 60px;
  }
}
